div{
    border: 2px solid red;
    width:120px;
    height:130px;
}
/*  */

.Calculator{
    display:flex;
    flex-direction: column;
}


body{
    background-color: grey;
}
.longbuttons{
  display:flex;
}
.longbuttons button{
    flex-grow:1;
}
.operators{
  display:flex;
  justify-content: center
}

.numbers{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}